.menu-item {
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  box-sizing: border-box;

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #525252;
  }

  &:hover {
    //background-color: #EBEBEB;
    background-color: #45ADD3;
    opacity: 0.5;
    span {
      color: white;
    }
  }

  &.-selected {
    background-color: #45ADD3;
    opacity: 1;

    span {
      color: white;
    }
  }
}