$menuWidth: 300px;

.page-container {
  display: inline-flex;
  width: 100%;
  .page-menu {
    width: $menuWidth;
    position: fixed;
    height: 100%;
    display: flex;
  }
  .page {
    display: flex;
    justify-content: center;
    //align-items: center;
    margin-left: 300px;
    width: calc(100% - 300px);
  }

}